<!DOCTYPE html>

<head>
<title>Image Search Abstraction Layer</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
    <h1>Image Search Abstraction Layer</h1>
    <div class='container'>
        <h2>Search for images hosted on imgur</h2>
        <h3>Example search: </h3>
        <div class='box'>
            <p>https://kraxx-img-sal.herokuapp.com/search/cat memes</p>
        </div>
        <h3>Offset query: </h3>
        <div class='box'>
            <p>https://kraxx-img-sal.herokuapp.com/search/cat memes?offset=10</p>
        </div>
        <h3>Last 10 search queries: </h3>
        <div class='box'>
            <p>https://kraxx-img-sal.herokuapp.com/latest</p>
        </div>
    </div>
</body>
